.page.theme_light {
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --secondary-text-color: #353430;
  --header-color: #FFC2E6;
  --background-image: url("../images/cover-image-light.png");
}

.theme_light .rec {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--accent-text-color);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-text-color);
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --secondary-text-color: #353430;
    --header-color: #FFC2E6;
    --background-image: url("../images/cover-image-light.png");
  }

  .theme_auto .rec {
    display: none;
  }

  .theme_auto .header__theme-menu-button_active {
    outline: 1px solid var(--accent-text-color);
  }
  
  .theme_auto .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color-hover);
  }
  
  .theme_auto .header__theme-menu-button:focus {
    outline: none;
  }
  
  .theme_auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-text-color);
  }
}
